#window {
  overflow:auto;
background-color: #00BCD4;
height: 300px;
width: 500px;
margin: auto;
margin-top: 20%;
border: solid 1px;

}

#header {
  overflow: auto;
  border-bottom: solid 1px;
  line-height: 10%;
  height: 10%;
  text-align: center;
  padding: 5% 10%;

}

.medium {
  background-color: yellow;
}

.low {
  background-color: green;
}

.high {
  background-color: red;
}

#title {
float:left;
}

#reset {
float:right;
}

#display {
  overflow: auto;

  background-color: yellow;

  height:100%;
  width:100%;

}

#info {
  float:left;
  background-color: #d57654;
  width:70%;
  height:100%;
}

#info p {
  text-align: center;
}

#controls {
  overflow: auto;
  text-align: center;
  float:right;
  background-color: green;
  width:30%;
  height:100%;
}

#controls p {
  text-align: center;
}

#thermostat-container {
  height: 203px;
  width: 34px;
  position: relative;
  margin: auto;
  float: right;
  background-color: #d57654;
}

#thermostat {
  height: 203px;
  width: 15px;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 2px 2px 0px 2px;
  border-top-left-radius: 4em;
  border-top-right-radius: 4em;
  margin: auto;
  position: absolute;
  margin-left: 7px;
}

#thermostat-fill-container {
  height: 179px;
  width: 34px;
  position: absolute;
  bottom: 15px;
}

#thermostat-fill {
  height: 5%;
  background-color: red;
  width: 15px;
  bottom: 0;
  position: absolute;
  margin: auto;
  margin-left: 9px;
  z-index: 100;
}

#circle {
  background-color: red;
  border: 2px solid black;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  bottom: -15px;
}
